body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html {
    height: 100%;
  }

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.jumbotron {
    text-align: center;
}

.carousel-inner img {
    max-width: 600px; 
    width: 100%;
    height: auto;
}

.carousel {
    margin-top: 10px; 
    padding-left: 60px;
}

